  .chosen-number {
    font-size: 15px;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      color: #00ccff;
    }
    25% {
      color: #ff9966;
    }
    50% {
        color: #00ccff;
      }
      75% {
        color: #ff9966;
      }
      100% {
        color: #00ccff;
      }
  }

  span {
      font-size: 10px
  }
  
  html,
  body {
    height: 100%;
  }

  .gradient {
    font-size: 15px;
    background: -webkit-linear-gradient(#00ccff, #ff9966);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
    

  h3 {
      color: #00ccff;
      font-size: 20px;
  }

  h4 {
    color: #00ccff;
    font-size: 10px;
   }

  .photo {
    height: 200px;
    width: 200px;
  }
  