  .chosen-number {
    font-size: 15px;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    0% {
      color: rgb(239,121,140);
    }
    25% {
      color: rgb(172, 194, 186);
    }
    50% {
        color: rgb(239,121,140);
      }
      75% {
        color: rgb(172, 194, 186);
      }
      100% {
        color: rgb(239,121,140);
      }
  }

  span {
      font-size: 10px
  }
  
  html,
  body {
    height: 100%;
  }

  .gradient {
    font-size: 15px;
    background: -webkit-linear-gradient(rgb(172, 194, 186), rgb(239,121,140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
    

  h3 {
      color: white;
      font-size: 20px;
  }

  h4 {
    color: white;
    font-size: 10px;
   }

  .photo {
    height: 200px;
    width: 200px;
  }
  